body {
	background-color: black;
}
input {
	margin: 20px 100px;

}
.grey {
	background-color: grey;
}
.green {
	background-color: green;
	margin: 0 50px;
}
.blue {
	background-color: blue;
}
button {
	background-color: blue;
	text-align: center;
	font-family: arial;
	font-weight: bold;
	color: white;
	margin: 20px 100px;
}
h1 {
	color: white;
	margin: 0 100px;
}